.DS_Store
node_modules
frontend/dist

backend/public/product-certificates/*
backend/public/product-images/*
backend/public/product-manuals/*
backend/public/user-images/*

# allow all the folders themselves to be tracked
!backend/public/product-certificates/.gitkeep
!backend/public/product-images/.gitkeep
!backend/public/product-manuals/.gitkeep
!backend/public/user-images/.gitkeep

# env files
.env
.env.development
**/.env.production

# skip ignoring production env as its used in build on prod server
!frontend/.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

